[user]
	name = Pavansantosh-affinsys
	email = pavan.santosh@affinsys.com
	signingkey = ~/.ssh/pavan-affinsys
[commit]
	gpgsign = true
[gpg]
	format = ssh
[pull]
	rebase = false
[rebase]
	autoStash = true
[core]
	autocrlf = input
[http]
	version = HTTP/2
[maintenance]
	repo = /home/pavan/Backend/bud-core-query-gen-svc
